.basicBtn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 16px 14px;
  background-color: #f0ddce;
  border-radius: 9px;
  border: none;
  width: fit-content;
}

.basicBtn + .basicBtn {
  margin-left: 10px;
}

.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 36px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.checkbox + label {
  margin-left: 10px;
}

.complete {
  padding: 10px 20px;
  background-color: #d4edda;
  border: 1px solid #155724;
  border-radius: 9px;
  margin-bottom: 20px;
  width: fit-content;
}

.complete > p {
  margin: 0;
  color: #155724;
  font-weight: bold;
}

.reset {
  padding: 10px 20px;
  width: fit-content;
  font-weight: bold;
  border: none;
  border-radius: 9px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #721c24;
}

.addGoalsBtn {
  padding: 10px 20px;
  width: fit-content;
  font-weight: bold;
  border: none;
  border-radius: 9px;
  display: flex;
  align-items: center;
}

.addGoalsBtn > span {
  margin-left: 10px;
}
