html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.6;
  font-size: 14px;
  font-weight: 300;
  color: #787878;
}

label {
  font-weight: 300;
}

input {
  border-radius: 9px;
  padding: 10px 20px;
  display: block;
  margin: 10px 0;
}

* {
  box-sizing: border-box;
}
