.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("/landing-background.jpg");
  background-size: cover;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 36px;
  text-transform: uppercase;
}

.loginBtn,
.getStarted {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 16px 14px;
  background-color: #f0ddce;
  border-radius: 9px;
  border: none;
  width: fit-content;
}
